    

/* nav bar 1 start */
#main1{
    width: 95%;
    height: 60px;
    border: 3px solid rgb(236, 5, 5);
    background-color:black;
    margin: auto;
    margin-top: 20px;
    display: flex;
    padding-top: 15px;
    padding-bottom:15px ;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    margin-top: 30px;
}
#img{
    margin-left: 10px;
}

#dawateislami1{
    margin-top: 20px;
       margin-left: 10px;
   }
#home,#templates,#pages,#elements{
 margin-top: 20px;
    margin-left: 50px;
    border-bottom: 2px solid white
}

#baynow{
    width: 110px;
    height: 50px;
    background-color: aliceblue;
    color: rgb(7, 130, 46);
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px ;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#discover{
    width: 110px;
    height: 50px;
    background-color: rgb(251, 5, 5);
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px ;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#button{
    margin-left: 450px;
}


#home:hover,#templates:hover,#pages:hover,#elements:hover{
 border-bottom: 2px solid red ;
 background-color: rgba(222, 216, 216, 0.363);
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-weight: bold;
 font-style: italic;

}
button:hover{
    border-bottom: 2px solid red ;
    background-color: rgba(222, 216, 216, 0.363);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
    transform: rotate(4deg);
   }
/* nav bar 1 end */

/* nav bar 2 start */

#main2{
    width: 95%;
    height: 60px;
    border: 3px solid black;
    background-color: rgba(4, 4, 255, 0.653);
    margin: auto;
    margin-top: 20px;
    display: flex;
    padding-top: 15px;
    padding-bottom:15px ;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    margin-top: 30px;
}

#img2{
    margin-left: 10px;
}

#dawateislami{
    margin-top: 20px;
       margin-left: 10px;
   }
#home2,#templates2,#pages2{
 margin-top: 20px;
    margin-left: 60px;
    border-bottom: 2px solid white
}
#home2{
    margin-top: 20px;
       margin-left: 730px;
       border-bottom: 2px solid white
   }
   
#logo{
    margin-left: 30px;
    margin-top: 25px;   
}
#home2:hover,#templates2:hover,#pages2:hover{
    border-bottom: 2px solid red ;
    background-color: rgba(222, 216, 216, 0.363);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
   
   }
   
/* nav bar 2 end */


/* nav bar 3 start */
   #main3{
    width: 95%;
    height: 60px;
    border: 3px solid black;
    background-color: rgb(98, 244, 130);
    margin: auto;
    margin-top: 20px;
    display: flex;
    padding-top: 15px;
    padding-bottom:15px ;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    margin-top: 30px;
}

#img3{
    margin-left: 10px;
}

#dawateislami{
    margin-top: 20px;
       margin-left: 10px;
   }
#home3,#templates3,#pages3{
 margin-top: 20px;
    margin-left: 50px;
    border-bottom: 2px solid white
}
#home3{
    margin-top: 20px;
       margin-left: 530px;
       border-bottom: 2px solid white
   }
   #list1,#list2{
    margin-left: 20px;
    margin-top: 30px;
   }
   
#logo{
    margin-left: 30px;
    margin-top: 25px;   
}
#signin{
    width: 110px;
    height: 50px;
    background-color: rgb(42, 5, 251);
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px ;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#button3{
    margin-left: 50px;
}
#home3:hover,#templates3:hover,#pages3:hover{
    border-bottom: 2px solid red ;
    background-color: rgba(222, 216, 216, 0.363);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
   }
/* nav bar 3 end */



/* nav bar 4 end */


#main4{
    width: 95%;
    height: 60px;
    border: 3px solid black;
    background-color: rgb(255, 1, 1);
    margin: auto;
    margin-top: 20px;
    display: flex;
    padding-top: 15px;
    padding-bottom:15px ;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    margin-top: 30px;
}

#img4{
    margin-left: 10px;
}

#dawateislami{
    margin-top: 20px;
       margin-left: 10px;
   }

   #logo4{
    margin-left: 800px;
    margin-top: 20px;   
}







/* nav bar 4 end */
